{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<table>
    <tr>
        <td>{{ form_label(form.lien_visio,"lien_visio") }}</td>
        <td>{{ form_widget(form.lien_visio) }}</td>
        <td>{{ form_errors(form.lien_visio) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.prix,"prix") }}</td>
        <td>{{ form_widget(form.prix) }}</td>
        <td>{{ form_errors(form.prix) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.lien_enregistrement,"lien_enregistrement") }}</td>
        <td>{{ form_widget(form.lien_enregistrement) }}</td>
        <td>{{ form_errors(form.lien_enregistrement) }}</td>
    </tr>

</table>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
