{% extends "baseback.html.twig" %}

{% block title %}Ordonnance index{% endblock %}

{% block content %}
    <h1>Ordonnance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nb_paquet</th>
                <th>Dosage</th>
                <th>Remarque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td>{{ ordonnance.id }}</td>
                <td>{{ ordonnance.date ? ordonnance.date|date('Y-m-d') : '' }}</td>
                <td>{{ ordonnance.nbPaquet }}</td>
                <td>{{ ordonnance.dosage }}</td>
                <td>{{ ordonnance.remarque }}</td>
                <td>
                    <a href="{{ path('app_ordonnance_show', {'id': ordonnance.id}) }}">show</a>
                    <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ordonnance_new') }}">Create new</a>
{% endblock %}
