{% extends "baseback.html.twig" %}

{% block title %}Rdv{% endblock %}

{% block content %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rdv.date ? rdv.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ rdv.heure }}</td>
            </tr>
            <tr>
                <th>Confirmation</th>
                <td>{{ rdv.confirmation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rdv_index') }}">back to list</a>

    <a href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}
